<div class="row">
    <div class="col-12 footerContainer">
        <button class="btn btn-secondary">Vanilla</button>
        <button class="btn btn-secondary">ButterScotch</button>
        <button class="btn btn-secondary">StrawBerry</button>
        <button class="btn btn-secondary">Pineapple</button>
        <button class="btn btn-secondary">Coffee</button>
        <button class="btn btn-secondary">Banana</button>
        <button class="btn btn-secondary">BalckBerry</button>
        <button class="btn btn-secondary">Pista</button>
        <button class="btn btn-secondary">Chocolate</button>
    </div>
</div>
