.Vanilla{
    background-color: rgb(5,25,25);
    border: hidden;
}
.ButterScotch{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;
}
.StrawBerry{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;
}
.Pineapple{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;
}
.Cofee{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;
}
.Banana{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden; 
}
.BalckBerry{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden; 
}
.Pista{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;  
}
.BlueBerry{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden;  
}
.Chocolate{
    margin-top: 20px;
    background-color: rgb(5,25,25);
    border: hidden; 
}
.sidenavbar{
    border: outset gray 2px;
}
.colum8{
    border: outset gray 2px;
}
.colum2{
    border: outset gray 2px;
}
.firstFiled{
    margin-top: 50px;
}
.scondField{
    margin-top: 200px;
}
p{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
} 